<!DOCTYPE html>

<html>
    <head>
        <title>Blog Signup</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
    </head>

    <body>
        <form method="POST">
            <label>
                Username<input type="text" name="username"> <br>
            </label>
            <label>
                Password<input type="text" name="password"> <br>
            </label>
            <label>
                Verify Password<input type="text" name="ver-password"> <br>
            </label>
            <label>
                Email(optional bro)<input type="text" name="email"> <br>
            </label>
        </form>
    </body>
</html>